.coin_page {
    padding: var(--layout-pad);
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.loading {
    color: #faa64b;
}

.coin_details {
    /* width: 40%; */
    border-right: 0.5px solid #999ca3;
    flex: 4;
    padding-right: 20px;
}

.coin_details h2 {
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    margin-top: 20px;
}

.coin_details img {
    width: 150px;
}

.coin_details p {
    margin-top: 5px;
    color: #c1c2c4;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.coin_details h3 {
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

@media only screen and (max-width: 1300px) {
    .coin_page {
        flex-direction: column;
        align-items: unset;
    }

    .coin_details {
        border-right: unset;
        padding: 0px;
        flex: unset;
    }

}